<form action="/Product/" class="form-inline sk-search-in-nav" method="get">
    <div class="form-group">
        <input type="text" class="form-control sk-search-field" placeholder="Tìm kiếm" value="" name="searchString">
    </div>
    <button type="submit" class="sk-search-btn"><i class="fa fa-search"></i></button>
</form>
